@using Microsoft.AspNetCore.Identity
@using VinePicker.Data
@using VinePicker.ViewModels
@model Vine
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Add";
}

<link rel="stylesheet" href="~/lib/a" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>

<script>
    var onComplete = function () {
        $('#ajaxresult').css("display", "block");
        $('#formPermalink').val($('#inputPermalink').val());
    }
</script>

@if (SignInManager.IsSignedIn(User))
{
    <h2>Add</h2>

    <form asp-action="GetVine" asp-controller="Home" method="post"
          data-ajax="true" data-ajax-loading="loader"
          data-ajax-update="#ajaxresult" data-ajax-mode="replace"
          data-ajax-complete="onComplete">
        <label>Vine link:</label>
        <input id="inputPermalink" asp-for="Permalink" />
        <input type="hidden" asp-for="Submitter" value="@UserManager.GetUserName(User)" />

        <input type="submit" value="Submit" />
    </form>

    <form asp-action="AddVine" asp-controller="Home" method="post">
        <input id="formPermalink" type="hidden" asp-for="Permalink"/>
        <input id="formSubmitter" type="hidden" asp-for="Submitter" value="@UserManager.GetUserName(User)"/>
        <input type="submit" class="btn btn-success" value="Confirm"/>
    </form>

    <div id="ajaxresult" style="display: none">
        @await Html.PartialAsync("_VineView", new VineViewModel())
    </div>

    <div id="loader" style="display: none">Loading...</div>
}
else
{
    <p>You need to sign in before adding a vine</p>
}